echo .import/ > .gitignore
echo .godot/ >> .gitignore
echo .mono/ >> .gitignore
echo .cache/ >> .gitignore
echo .editor/ >> .gitignore
echo export.cfg >> .gitignore
echo export_presets.cfg >> .gitignore
echo "*.tmp" >> .gitignore
echo "*.import" >> .gitignore